# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Extras
programacion-orientada-a-objetos

# Compilados
*.class
target/
build/
.gradle/

# Logs y temporales
*.log
*.tmp

# Sistema operativo
.DS_Store
Thumbs.db